@import url('https://fonts.googleapis.com/css?family=Roboto')


$max-width:1200px
$base-font: 'Roboto'

%flexCenter
  display: flex
  justify-content: center
  align-content: center
*
  box-sizing: border-box

body
  height: 100vh
.main-container
  display: flex
  flex-direction: column
  height: 100%
  max-width: $max-width
  margin: 0 auto

.content
  flex-grow: 1
  position: relative
.flexCenter
  @extend %flexCenter
.flexAround
  @extend %flexCenter
  justify-content: space-around

.tickets-section

    display: grid
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr))
    grid-gap: 20px
    grid-auto-flow: dense
.btn
  margin-right: 10%
.card
  border: 1px solid darkgrey
.ticket-price
  font-size: 25px
  padding: 5px
  color: #fff
.ticket-time-departure
  font-weight: bold
  color: gray
  line-height: 46px

.ticket-airline-name
  font-weight: bold
  font-size: 18px
  text-transform: capitalize
  line-height: 100px
.ticket-airline-img
  max-width: 100px
  margin-right: 20px
.ticket-destination .ticket-city
  font-size: 26px
  text-transform: uppercase
.ticket-time-price
    margin: 5% 0 5% 0
.fa-layers-counter
  font-size: 4em
.favorite-add-btn
  margin-top: 5%
.favorite-section
  position: absolute
  margin-right: 5%
  display: none
  flex-direction: column
  position: fixed
  right: 1%
  top: 10%
  z-index: 1
  overflow-y: scroll
  height: 70%
  padding-top: 10px
  &.show
    display: flex
.favorite-add-btn-selected
  color: red
.header-icon
  font-size: 2em !important
  padding-top: 2px





